<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {# social media icons link #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- local css-->
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <title></title>
  </head>
  <body>



    <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class='navbar-brand' href="{% url 'home' %}">ROZANA</a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

            <ul class='navbar-nav'>

              <li class='nav-item'><a class='nav-link' href="{% url 'cars:car_list' %}">Offers</a></li>

              {% if request.user.is_superuser %}
              <li class='nav-item'><a class='nav-link' href="{% url 'cars:commercial_list' %}">Commercials</a></li>
              <li class='nav-item'><a class='nav-link' href="{% url 'cars:car_create' %}">Create Car</a></li>
              <li class='nav-item'><a class='nav-link' href="{% url 'admin:index' %}">Admin</a></li>
              {% endif %}

              </ul>
              <ul class='navbar-nav'>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Follow Us
                  </a>
                  <div class="dropdown-menu navbar-bg" aria-labelledby="navbarDropdown">
                    <ul>
                      <a href="#" class="fa fa-facebook nav-link dropdown-item"> Facebook</a>
                      <a href="#" class="fa fa-twitter nav-link dropdown-item"> Twitter</a>
                      <a href="#" class='fa fa-google nav-link dropdown-item'> Google</a>
                      <a href="#" class='fa fa-instagram nav-link dropdown-item'> Instagram</a>

                    </ul>
                    </div></li>
              {% if request.user.is_authenticated %}
              <p class='navbar-text'> Hello {{request.user}}</p>
              <li class='nav-item'><a class='nav-link' href="{% url 'accounts:logout' %}">Logout</a> </li>
              {% else %}
              <li class='nav-item'><a class='nav-link' href="{% url 'accounts:login' %}">Login</a> </li>
              <li class='nav-item'><a class='nav-link' href="{% url 'accounts:signup' %}">SignUp</a> </li>
              {% endif %}
              </ul>


        </div>
      </div>
    </nav>

<br>

        <div class="container">

      {% block content %}

      {% endblock %}

        </div>



        <!-- js bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </body>
</html>
